# Ignore data directories
Data/
Logs/
Results/

# Ignore conda installer
Miniconda3-latest-Linux-x86_64.sh

# Ignore HPC scripts folder
Scripts/02_hpc/

# Ignore specific file types in Scripts
Scripts/**/*.o*
Scripts/**/*.e*
Scripts/**/*.log
Scripts/**/*.log.*
Scripts/**/*.logfile
Scripts/**/*.out
Scripts/**/*.err
Scripts/**/*.stderr
Scripts/**/*.stdout
Scripts/**/.DS_Store
Scripts/**/*.mth

# Keep environment file
!environment.yml
